<main class="main">

    <section class="font">
       <div class="content" style="background-color: rgba(0, 0, 0, 0.5); padding: 20px; color: white;width: 100%; justify-content: center; text-align: center;">
            <h1 style="font-size: 60px;">Visiting CENTRE VALBIO</h1>
       </div>
    </section>

    <div id="main-site-containt" class="containt-wrapper clearfix" style="text-align: justify; margin-left: 25px;">
        <div id="container" class="clearfix">
            <div class="content" style="width: 97%;">
                <p class="p1">Centre ValBio is located adjacent to Ranomafana National Park in the southeastern
                    part of Madagascar. The park consists of tropical rainforest that lies approximately
                    90 kilometers west of the Indian Ocean on the east-facing escarpment of Madagascar’s
                    central high plateau.
                </p>

                <p class="p1">Madagascar’s capital city, Antananarivo, has a major international airport. Upon arrival
                    in Antananarivo, researchers and visitors coordinate with Stony Brook University's 
                    Institute for the Conservation of Tropical Environments’ (ICTE) in-country office,
                    MICET. MICET arranges travel by car to Centre ValBio, which is located 400 kilometers
                    (an eight-hour drive) southeast of the national capital of Antananarivo. A charter
                    flight may also be arranged from Antananarivo to a small airport near Fianarantsoa,
                    the provincial capital, which is 60 kilometers (a one-hour drive) from Ranomafana
                    National Park (RNP). </p>

                    <p class="p1">Access to Centre ValBio and Ranomafana National Park is straightforward, reliable
                        and, upon arrival in Madagascar, can be completed in fewer than ten hours. Major shopping
                        for special supplies and banking is recommended in either Antananarivo or Fianarantsoa
                        since, while the quaint village of Ranomafana is developing quickly, these services
                        are currently unavailable.</p>

                        <p class="p1">Centre ValBio’s campus is located just near the RNP Talatakely trail entrance, 7 kilometers
                            west of Ranomafana Village. There you may  find a post office, an internet café, local
                            market and stores, Madagascar National Parks main office, governmental offices and
                            many other local attractions (see below.). Getting between CVB and Ranomafana is about
                            an hour walk or 15-minute car ride. Local transportation can be arranged through Centre
                            ValBio’s logistics department.</p>



                            <p class="p1">If you are a researcher, student, scientific tourist or volunteer that will be staying
                                at Centre ValBio, camping facilities are currently available on the grounds and dormitory
                                rooms will be available after the inauguration of the Namanabe Hall slated for July
                                2021. For other visitors, a range of accommodation options is available (from camping
                                to high-end hotels) between the park entrance and Ranomafana village. Please contact
                                CVB if you would like further information regarding lodging options and availability.
                                We recommend that you make reservations in advance during the high tourist season
                                (September–December).</p>


                                <p class="p1">For researchers, students and volunteers, arrangements can be made in advance through
                                    ICTE and Centre ValBio to accommodate any specific or special needs during your stay
                                    (see also<span> </span><a href="#">For Researchers</a><span> </span>section). For scientific tourists and visitors, guided tours and visits to Centre
                                    ValBio's campus, green center in town and projects are available. Group visits can
                                    be arranged in advance and include PowerPoint presentations on CVB's work in addition
                                    to guided tours or hands-on school or village visits. Please contact Centre ValBio
                                    to arrange a tour in advance by e-mail (<a href="#"><span class="s1">centrevalbio&#64;gmail.com</span></a>) or by phone when in-country, 034 135 8171 or 033 027 5398.<br/><br/></p><br><br><br>



                <div class="bg-light"><br>
                    <p class="p2">
                        <span class="s2">
                           <h1 style=" text-align:center;" >
                               <strong style="font-size: 40px;" >Communication</strong>
                           </h1>
                  `  `` </span>Ranomafana has shown a great development in communication in the last few years including
                        phone, Internet and mail services.
                     </p>

                     <p class="p3"><em>Phone:</em> Three different carriers (Telma, Air Tel and Orange) provide mobile services that
                        work extremely well within Ranomafana and its surrounding area and recharge cards
                        are readily available. Note: Please consult CVB staff for which provider may be best
                        for your work plans (e.g., Telma service works best within the research center, Air
                        Tel at Valohoaka, Orange is cheapest for international calls to the U.S., etc.). You
                        can purchase a cell phone and phone recharge cards at the telecenter or in various
                        other shops and kiosks in Ranomafana.</p>

                        <p class="p3"><em>Internet:</em> The Internet cafe or “Tele Centre” is located just before the post office in the
                            village of Ranomafana. The telecentre is open from 8:00-18:00 at least 6 days a week
                            (Monday – Saturday) and closed on Sunday except during the high season (14:00-18:00
                            from September – December). You may check e-mail and browse the Internet for 100 MGA/minute
                            with a minimum of 10 minutes (1,000 MGA). We warn you that the Internet speed allows
                            for small uploads and downloads, but does not usually support transferring large files.
                            Centre ValBio currently has a basic satellite Internet connection available to researchers
                            and students and is in the planning stage for a high-speed fiber optic connection
                            with the opening of Namanabe. In addition, USB Internet keys can be purchased in Antananarivo
                            and Fianarantsoa and used on a recharge basis (similar to phones).</p>

                            <p class="p4"><em>Mail:</em> The post office in Ranomafana is open 5 days a week (Monday through Friday) and closed
                                on the weekends (Saturday and Sunday). CVB checks our mailbox daily and deposits any
                                mail in the ‘Researcher’ or ‘Study Abroad’ (the latter for training groups) boxes
                                in the hallway of the administrative level at CVB. Large packages (that usually require
                                a small fee) are sent to Fianarantsoa and slips are provided to alert you of their
                                arrival. You can arrange with the CVB staff for pick up when one of the vehicles makes
                                a supply run to Fianarantsoa (often once weekly during the high season).</p>

                </div>

                <div class="bg-light"><br>
                    <p class="p4" ><strong><h1 style=" text-align:center; font-size: 40px;">Health concerns</h1></strong>Centre ValBio has a basic “First Aid Kit” that can be used in case of an emergency,
                        including some basic medication such as anti-diuretic, anti -inflammatory medicine,
                        pain killers, and basic treatment of small cuts (bandages, alcohol, etc.). In case
                        an illness or injury is more serious, health professionals and medical doctors can
                        also be contacted and are located in Ranomafana village, Fianarantsoa and Antananarivo
                        depending on your needs. CVB and MICET are ready to assist you, accompany you and
                        provide a vehicle if an emergency trip is needed at any hour. It is highly recommended
                        to bring malaria prophylactic, paracetamol/ibuprofen, cipro, flagyl, allergy medication,
                        anti-gas over the counter medicine and a basic first-aid kit with you from your home
                        country. Basic pharmacies are available in Ranomafana and most medicine is readily
                        available in larger cities (Antananarivo and Fianarantsoa). In case of any medical
                        emergency or natural disaster, our staff will be sure to inform any researchers or
                        students on how to proceed. CVB, MICET and ICTE/Stony Brook University have an emergency
                        evacuation protocol in order and are ready to assist in case immediate evacuation
                        from Madagascar is needed for any reason.<br/><br/></p>
                </div><br>

                <div class="bg-light" >
                    <p class="p3"><strong><h1 style=" text-align:center;" ><strong style="font-size: 40px;" >Money<br/></strong></h1></strong><em>Malagasy Currency &amp; Conversion Rates: </em>The Malagasy currency is in Malagasy Ariary (MGA). 1 MGA = 5 FMG (old Malagasy money
                       designation) and $1 varies from 1,500-2,000 MGA depending on the exchange rate (currently
                       approximately $1 to 2,000 MGA and 1 Euro to 2,600 MGA). Please consult the accounting
                       office for the latest currency exchange rates as these fluctuate daily.</p>
  
  
                   
                   <p class="p3"><em>Exchanging Money &amp; ATM Withdrawals: </em>We recommend that short-term visitors bring or exchange money at the airport upon
                       arrival in Antananarivo. Please note that only bills dated as of 2017 will be accepted
                       to change. Longer-termed researchers and students can wire money to the CVB account
                       in advance (funds made available upon your arrival). However, if you need to exchange
                       foreign money during your stay, you will need to go to Fianarantsoa, where the nearest
                       banks are located (e.g., BFV, BMOI, and BNI). Only VISA credit cards are accepted
                       in Madagascar.</p>
                   </div><br>


                   <div class="bg-light" >
                    <p class="p3">
                        <h1 style=" text-align:center;" ><strong style="font-size: 40px;" >Climate/Weather<br/></strong></h1>
                    Ranomafana National Park (RNP) is located in the eastern, moist, forest climate and
                       is hot and subtropical for much of the year. November through March is considered
                       to be the rainy season. Although the dry season extends from April to November, the
                       northeast and central eastern regions have no months (or weeks) that are completely
                       without rain. It can be cold in RNP from April through November, so bring a fleece
                       and long johns if you are coming during that time period. Torrential rain and cyclones
                       can occur in January, February and March. Annual rainfall ranges from 1500-4000 mm
                       of rain.Thus, raingear is essential in the forest, especially during the rainy season.
  
  
                    <ul xmlns:dm="http://www.digitalmeasures.com/schema/data" xmlns:dmd="http://www.digitalmeasures.com/schema/data-metadata" class="default-bullets" >
                       <li class="p5">Note that the humidity is very high in this area, so make sure that your field materials
                          and equipment (such as cameras, binoculars, etc.) are protected or waterproof. Some
                          people have found storing equipment with silica (which is <span> </span><strong>not</strong><span> </span> readily available in Madagascar) helps ensure the shelf life of equipment in humid
                          environments. Planning fieldwork and expeditions may sometimes depend on the weather
                          conditions. You can get information on local weather (temperature and precipitation)
                          through the logistics department.  The ‘Tele Centre’ or Internet cafe in the village
                          of Ranomafana can also be useful to check out the regional/national weather.
                       </li>
                    </ul>
                    </div>
                    <br><br>



                    <div class="bg-light">
                        <p><h1 class="display-6" style="text-align:center;"><strong style="font-size: 40px;"><br/>Ranomafana National Park and Surrounding Villages</strong></h1>
                        <p class="p3">Centre ValBio urges you to utilize your time in Madagascar to gain a full experience-exploring
                           both local biodiversity and culture. With this in mind, we would like to give you
                           a brief introduction to the villages and the areas surrounding Ranomafana National
                           Park. Centre ValBio’s education department can assist you in providing information
                           on the people, culture, biodiversity, conservation, and education.
                        </div><br><br>




                        <div class="bg-light">                 

                            <div class="container my-5">
                                <div class="row">
                                     <div class="col-lg-7">
                      
                                                 <p class="p3"><h1 style=" text-align:center;" ><strong style="font-size: 40px;" >Ranomafana National park<br/></strong></h1>
                                        
                                                             Centre ValBio is located 500 meters from the entrance to Ranomafana National Park
                                                             (RNP). RNP is one of the World Heritage Sites in Madagascar.  Not only will you enjoy
                                                             the amazing biodiversity of Madagascar’s southeastern rainforest, but you will also
                                                             experience the freshness and calm of the forest. This rainforest, run by the Madagascar
                                                             National Parks system, contains an incredible and unique variety of flora and fauna. 
                                                             Tourist and research trails have been made to facilitate hiking and walking in the
                                                             forest. The most visited areas of the park include the waterfall, old village sites,
                                                             historical monuments, Bellevue (overlook), old trails and tombs. While hiking through
                                                             the forest and along streams, you can also learn about traditional beliefs and cultures.
                                                             Note that you must hire or be with a guide to hike in the forest.
                                                    
                                    </div>
                                                 <div class="col-lg-4">
                                                    <img class="w-100 shadow img-fluid" style="border: 20px solid white; float: right;" src="../../Dec 2 - 20.jpg" alt="Lemur" width="455" height="341">
                                                </div>
                                </div>
                            </div>
                        </div><br>



                        <div>
                            <section class="parallax">
                                 <div class="content" style="background-color: rgba(0, 0, 0, 0.5);
                                     padding: 20px;
                                     color: white;" >
                                     <h1 style=" text-align:center;" id="result" ><strong style="font-size: 40px;" >Around Ranomafana<br/></strong></h1><br>
                                     
                                     <p class="p3">Centre ValBio is located about 7 km from the Ranomafana village. The name ‘Ranomafana’
                                              (hot water) came from the presence of a hot spring. In Ranomafana village, thermal
                                              baths and a communal swimming pool is open to the public for a small entrance fee
                                              to relax and/or to get health treatments. </p>
                                
                                 </div>
                             </section>
                        </div>




                        <p>The mixed culture of Antanala and Betsileo increases the cultural richness of Ranomafana. 
                            The “Antanala” (the forest people) cannot live without the forest; and the Betsileo
                            are the best rice growers in Madagascar. Villagers continue to practice different
                            kinds of traditional ceremonial and religious rituals during family events. You can
                            experience traditional culture, dance, and local music by inviting local musicians
                            and dancers or arranging a performance by local artists. These groups can perform
                            shows upon request using traditional instruments, song and dance. A small contribution
                            is greatly appreciated. </p>



                            <p class="p3">In Ranomafana village, you can find several markets that sell local products, such
                                as fresh fruits, vegetables, and local handcrafts.  Sunday is the market day in Ranomafana
                                village and usually runs from 8:30-15:00, where many people from the surrounding rural
                                villages usually come to socialize and sell their products. Remember, you may discuss
                                or negotiate the prices on some local products! After the opening of an artisanal
                                market in 2011, local handicrafts and many other souvenirs are readily available for
                                purchase. A local women’s group (FAMIOVA) located in the old museum, produces high-quality
                                handmade scarves. This woman’s group will produce scarves given your specific preferences
                                (material, style, color, etc.) upon request – so place your orders early! Hand-woven
                                baskets are available from another women’s association (MAEVA) from Sahavendronina
                                (western part of the park) and unique embroidered items and natural food products
                                (peanut butter, juice and honey) are available from Soa Fianarana Association based
                                at Le Palmarie hotel in Ranomafana village. Handmade stuffed lemurs, frogs and chameleons
                                can be purchased at the small store near Kianja Maitso and special orders can be made
                                for your favorite lemur if not available on the spot!</p>


                                <p class="p3">There are also several project demonstration sites to be seen in and near Ranomafana. 
                                    For example, you can enjoy visiting the medicinal plantation (Mahatsarabe), located
                                    three kilometers past Ranomafana center following the national road east. This site
                                    is run by an Association of local traditional healers and kings (Ampanjaka) and supported
                                    by Centre ValBio. Just before Mahatsarabe is the arboretum, a demonstration site of
                                    saplings planted over 20 years ago on degraded lands. There is also Centre ValBio’s
                                    demonstration site at Kianja Maitso where you can see our endemic and fruit tree nurseries
                                    and learn, for example, about some of our project techniques such as vegetable gardening
                                    and composting. There is also the “KajaAla” station at Kianja Maitso, an educational
                                    area run jointly by Centre ValBio and Madagascar National Parks, where news and information
                                    about Ranomafana National Park and conservation activities are also available. </p>

                                    <p class="p3">Additional excursions to local waterfalls, bat caves, as well as canoeing adventures
                                        are also available locally. Centre ValBio can also provide recommendations on further
                                        exploration east and west of Ranomafana.</p>


            </div>
            <div class="hide-accessible-mobile sidenav-desktop">
                <div style="display:none;"></div>
             </div>


             <div class="container-wrapper">
                <div class="clearfix responsive-container"></div>
                <div class="clearfix responsive-container"></div>
                <div class="clearfix responsive-container"></div>
                <div class="clearfix responsive-container"></div>
                <div class="clearfix responsive-container"></div>
                <div class="clearfix responsive-container"></div>
                <div class="clearfix responsive-container"></div>
                <div class="clearfix responsive-container"></div>
                <div class="clearfix responsive-container"></div>
                <div class="clearfix responsive-container"></div>
                <div class="clearfix responsive-container"></div>
                <div class="clearfix responsive-container"></div>
                <div class="clearfix responsive-container hidden-desktop sidenav-mobile">
                   <div class="border-box wrapper clearfix">
                      <div style="display:none;"></div>
                   </div>
                </div>
                </div>

        </div>

    </div>
    

</main>
