<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="../CVB.ico" alt="Logo" style="width: 40px;" class="rounded-pill"> 
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar" style="font-size: 15px;">
            <ul class="navbar-nav me-auto justify-content-center">
              <li class="nav-item">
                <a routerLink="/" class="nav-link" href="">Home</a>
              </li>
              <li class="nav-item">
                <a routerLink="/guide" class="nav-link" href="">Guide</a>
              </li>
              <li class="nav-item dropdown">
                <a routerLink="/map" class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown">Map</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">office MAP</a></li>
                  <li><a class="dropdown-item" href="#">Building MAP</a></li>
                  <li><a class="dropdown-item" href="#">Ranomafana MAP</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a routerLink="/about" class="nav-link" href="">About</a>
              </li>
            </ul>
            <form class="d-flex">
              
              <button routerLink="/login" class="btn btn-secondary" type="button">Log In</button>
            </form>
          </div>
        </div>
      </nav><br><br>
    
</header>