
<style>

</style>

<main class="main">

	
  
    <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <!--<div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
      </div>-->

  
      <div id="img" class="img bg-wrap text-center py-4">
        <div class="user-logo">
          <div class="img"></div>
          <h3>CENTRE VALBIO</h3>
        </div>
      </div>
      <ul class="list-unstyled components mb-5">
        <li class="active" (click)="goToPage('accueil')">
          <a href="#"><span class="fa fa-home mr-3"></span> Home</a>
        </li>
        <li class="active" (click)="goToPage('inscription')">
          <a href="#"><span class="fa fa-gift mr-3"></span>Inscription</a>
        </li>
        <li class="active" (click)="goToPage('liste-eleves')">
          <a href="#"><span class="fa fa-trophy mr-3"></span>Liste des eleves</a>
        </li>
        <li class="active" (click)="goToPage('services')">
          <a href="#"><span class="fa fa-cog mr-3"></span> Services</a>
        </li>
        <li class="active" (click)="goToPage('logout')">
          <a href="#"><span class="fa fa-support mr-3"></span>Suivie</a>
        </li>
        <!--
            <li class="active" (click)="goToPage('sing-out')">
          <a href="#"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
        </li>
        -->
      </ul>

    </nav>

      <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
      <div *ngIf="isCurrentPage('accueil')">
        <h2 class="mb-4">Home</h2>
        <p>Contenu de la page d'accueil...</p>
      </div>

      <div *ngIf="isCurrentPage('inscription')">
        
              <!--modal header-->
              <div class="card">
                <div class="card-header bg-primary text-white ">
                  <h3 style="text-align: center;">fiche de renseignement</h3>
                </div>
               </div><br>
              <form #userForm="ngForm">
                <div class="row">
                    <div class="col-md-8">
                      <label for="nom" class="form-label">Nom</label>
                      <input type="text" name="nom"  class="form-control">
                    </div>
                </div>
        
                  <div class="row">
                    <div class="col-md-8">
                      <label for="prenom" class="form-label">prenom</label>
                      <input type="text" name="PRENOM" class="form-control" >
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-8">
                      <label for="date" class="form-label">Date de Naissance</label>
                      <input type="date" name="date"  class="form-control">
                    </div>
                </div>

                <div class="row">
                  <div class="col-md-8">
                    <label for="niveau" class="form-label">Niveau</label>
                    <input type="text" name="niveau"  class="form-control" >
                  </div>
              </div>

                <div class="row">
                  <div class="col-md-8">
                    <label for="nationalite" class="form-label">Nationalite</label>
                    <input type="text" name="nationalite"  class="form-control"  placeholder="ex: Malagasy">
                  </div>
              </div>
        
                  <div class="row">
                    <div class="input-group mt-3 mb-3 col-md-8">
                    
                      <input type="email" name="email" class="form-control"  placeholder="votre adress email">
                      <input type="number" name="number"  class="form-control" placeholder="telephone">
                      <input type="text" name="adres" class="form-control" placeholder="votre Adresse">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-8">
                      <label for="mention" class="form-label">Mention</label>
                      <input type="text" name="mention"  class="form-control" >
                    </div>
                </div><br>
                 
        
                  <div class="col-md-6 text-center">
                    <button type="button" class="btn btn-primary btn-sm text-dark" >Annuler</button>
                    &nbsp;&nbsp;          
                    <button type="button" class="btn btn-primary btn-sm text-dark" >Ajouter</button>
                  </div>  
              </form>
              
            
      </div>

      <div *ngIf="isCurrentPage('liste-eleves')">
        <div class="card">
          <div class="card-header bg-primary text-white input-group   ">
            <h3 style="text-align: initial;">Liste des information</h3>
           <!--<div class="input-group col-md-3" style="justify-content: end;">
              <input class="form-control" type="text" name="search" style="left: 510px;">
              <button class="btn btn-primary bg-white text-dark" type="submit" value="Recherche" style="right: 60px; position: fixed;">search</button>
            </div> --> 
          </div>
         </div>
         
         <div class="card-body">
           <div class="row">
             <div class="col-md-12">
               
               <table class="table table-bordered">
                 <thead>
                   <tr>
                     <th>Nom</th>
                     <th>prenom</th>
                     <th>Mention</th>
                     <th>Niveau</th>
                     <th>Email</th>
                     <th>Adress</th>
                     <th>Action</th>
                   
                 </tr>
                 </thead>
                 <tbody>
                   <tr >
                    <td>
                      <input type="text" class="form-control"  >
                      <span ></span>
                    </td>
                    <td>
                      <input type="text" class="form-control">
                      <span ></span>
                    </td>
                    <td>
                      <input type="text" class="form-control" >
                      <span ></span>
                    </td>
                    <td>
                      <input type="text" class="form-control" >
                      <span></span>
                    </td>
                    <td>
                      <input type="email" name="email" class="form-control"  >
                      <span ></span>
                    </td>
                    <td>
                      <input type="text" class="form-control">
                      <span></span>
                    </td>
                     <td class="text-center">
                      <button type="button" class="btn btn-primary btn-sm text-dark" >Enregistrer</button>
                       <button type="button" class="btn btn-primary btn-sm" >Editer</button>  
                       &nbsp;
                       <button type="button" class="btn btn-danger btn-sm" ></button>
                     </td>
                   </tr>
                 </tbody>
               </table>
             </div>
           </div>
         </div>
      </div>

      <div *ngIf="isCurrentPage('services')">
        <h2 class="mb-4">Services</h2>
        <p>Contenu de la page des services...</p>
      </div>
     
      <div *ngIf="isCurrentPage('logout')">
        <h2 class="mb-4">Services</h2>
        <p>Contenu de la page des Accueil...</p>
      </div>














    </div>
  </div>
</main>


