<script>
    (function($) {

"use strict";

var fullHeight = function() {

    $('.js-fullheight').css('height', $(window).height());
    $(window).resize(function(){
        $('.js-fullheight').css('height', $(window).height());
    });

};
fullHeight();

$('#sidebarCollapse').on('click', function () {
  $('#sidebar').toggleClass('active');
});

})(jQuery);
</script>

<style>

</style>


<main class="main">

	
  
    <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="bg-dark">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
      </div>

  
      <div id="img" class="img bg-wrap text-center py-4 bg-secondary">
        <div class="user-logo">
          <div class="img"></div>
          <h3>CENTRE VALBIO</h3>
        </div>
      </div>
      <ul class="list-unstyled components mb-5">
        <li class="active" (click)="goToPage('accueil')">
          <a href="#"><span class="fas fa-home mr-3"></span> Home</a>
        </li>
        <li class="active" (click)="goToPage('inscription')">
          <a href="#"><span class="fa fa-add mr-3"></span>Add Information</a>
        </li>
        <li class="active" (click)="goToPage('liste-eleves')">
          <a href="#"><span class="fa fa-list mr-3"></span>List of Information</a>
        </li>
        <li class="active" (click)="goToPage('services')">
          <a href="#"><span class="fa fa-cog mr-3"></span> About</a>
        </li>
        
        
        <li class="active" (click)="goToPage('logout')">
          <a href="#"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
        </li>
        
      </ul>

    </nav>

      <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
      <div *ngIf="isCurrentPage('accueil')">
        <h2 class="mb-4">Home</h2>
        <p>Contenu de la page d'accueil...</p>
      </div>

      <div *ngIf="isCurrentPage('inscription')">
        
              <!--modal header-->
              <div class="card">
                <div class="card-header bg-secondary text-white ">
                  <h3 style="text-align: center;">Create your Information here</h3>
                </div>
               </div><br>
              <form #InfoForm="ngForm"  (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-8">
                      <label for="nom" class="form-label">Title</label>
                      <input type="text" name="titreInfo" [(ngModel)]="infoForm.titreInfo"  class="form-control" placeholder="title of your information...">
                    </div>
                </div>
        
                  <div class="row">
                    <div class="mb-3 mt-3">
                      <label for="comment">Content</label>
                      <textarea class="form-control" [(ngModel)]="infoForm.corpsInfo"  rows="5" id="comment" name="corpsInfo"></textarea>
                    </div>
                  </div><br>

        
                 
        
                <div class="col-md-6 text-center">
                    <button type="button" class="btn btn-dark text-light btn-sm" (click)="clearForm()">Annuler</button>
                    &nbsp;&nbsp;          
                    <button type="submit" class="btn btn-dark btn-sm text-light" >Ajouter</button>
                  </div> 

              </form>
              
            
      </div>

      <div *ngIf="isCurrentPage('liste-eleves')">
        <div class="card">
          <div class="card-header bg-secondary text-white input-group   ">
            <h3 style="text-align: initial;">Liste des information</h3>
                    <!--
                      <div class="input-group col-md-2 justify-content-end " style="justify-content: end;">
                        <input class="form-control " type="date" name="search" >
                    </div>
                    -->
           
          </div>
         </div>
         
         <div class="card-body">
           <div class="row">
             <div class="col-md-12">
               
               <table class="table table-bordered">
                 <thead>
                   <tr>
                     <th>Title</th>
                     <th>content</th>
                     <th>Date</th>
                     <th>Action</th>
                   
                 </tr>
                 </thead>
                 <tbody>
                   <tr *ngFor="let item of informationList">
                    <td>
                      {{item.titreInfo}}
                    </td>
                    <td>
                      {{item.corpsInfo}}
                    <td>
                      {{item.date}}
                    </td>
                    
                     <td class="text-center">
                      <!--<button type="button" class="btn btn-dark btn-sm text-light" ><span class="fa fa-save mr-1"></span></button>
                      &nbsp;&nbsp;--> 
                       <button type="button" class="btn btn-dark btn-sm text-light" ><span class="fa fa-edit mr-1"></span></button>  
                       &nbsp;
                       <button type="button" class="btn btn-danger btn-sm text-light" ><span class="fa fa-save mr-1"></span></button>
                     </td>
                   </tr>
                 </tbody>
               </table>
             </div>
           </div>
         </div>
      </div>

      <div *ngIf="isCurrentPage('services')">
        <h2 class="mb-4">Services</h2>
        <p>Contenu de la page des services...</p>
      </div>
     
      <div *ngIf="isCurrentPage('logout')">
        <h2 class="mb-4">Services</h2>
        <p>Contenu de la page des Accueil...</p>
      </div>














    </div>
  </div>
</main>


