<main class="main">

	
  
    <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="bg-dark">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary" (click)="toggleSideBar()">
        </button>
      </div>

  
      <div id="img" class="img bg-wrap text-center py-4 bg-secondary">
        <div class="user-logo">
          <div class="img" >
            <img src="{{ image1 }}" alt="">
          </div>
          <h3>CENTRE VALBIO</h3>
        </div>
      </div>
      <ul class="list-unstyled components mb-5">
        <li class="active" (click)="goToPage('accueil')">
          <a href="#"><span class="fas fa-home mr-3"></span> Home</a>
        </li>
        <li class="active" (click)="goToPage('inscription')">
          <a href="#"><span class="fa fa-add mr-3"></span>Add Information</a>
        </li>
        <li class="active" (click)="goToPage('liste-eleves')">
          <a href="#"><span class="fa fa-list mr-3"></span>List of Information</a>
        </li>
        
        <!--
<li class="active" (click)="goToPage('services')">
          <a href="#"><span class="fa fa-message mr-3"></span>notification</a>
        </li>>
        -->
        
        <li class="active" >
          <a href="#" (click)="logout()"><span class="fa fa-sign-out mr-3"></span>logOut</a>
        </li>
        
      </ul>

    </nav>

      <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
      <div *ngIf="isCurrentPage('accueil')">
        <div class="container-fluid">

          <h3>Welcome {{ CurrentUsername }}</h3>
          <br>
         
            <div class="row">
              <div class="col-2 bg-secondary text-white p-3 border-bottom border-5 border-danger">
                <h6>informations</h6>
                <p>Total: {{ totalInformations }}</p>
              </div>
              <div class="col-1 bg-white text-white p-3">
                 
              </div>
              <div class="col-2 bg-secondary text-white p-3">
                <h6>users</h6>
                <h6>Total: {{ totalUsers }}</h6>
              </div>
              <div class="col-1 bg-white text-white p-3">
                 
              </div>
              
              <div class="col-1 bg-white text-white p-3">
                 
              </div>
              
              
            
          </div><br>

        </div>
        <hr style="border: 100px;" class="text-dark bg-dark bordered-solide"><hr class="text-dark bg-dark solid">
        

       <div class="charts-container" style="display: flex; justify-content: space-around; align-items: center;">
        <div class="chart-container" style=" width: 35%; height: 400px;">
          <canvas id="pieCanvas">{{pieCanvas}}</canvas>
         </div>
         <div class="chart-container" style=" width:75%; height: 400px;">
          <canvas id="lineCanvas">{{lineCanvas}}</canvas>
         </div>
          
       </div>
      </div>

      <div *ngIf="isCurrentPage('inscription')">
        
              <!--modal header-->
              <div class="card">
                <div class="card-header bg-secondary text-white ">
                  <h3 style="text-align: center;">Create your Information here</h3>
                </div>
               </div><br>
              <form #infoForm="ngForm"  (ngSubmit)="onSubmit(infoForm)">
                <div class="row">
                    <div class="col-md-8">
                      <label for="titreInfo" class="form-label">Title</label>
                      <input type="text" name="titreInfo" [(ngModel)]="infoFormModel.titreInfo"  class="form-control" placeholder="title of your information..." required>
                    
                    </div>
                </div>
        
                  <div class="row">
                    <div class="mb-3 mt-3">
                      <label for="corpsInfo">Content</label>
                      <textarea class="form-control" [(ngModel)]="infoFormModel.corpsInfo"  rows="5" id="comment" name="corpsInfo" required></textarea>
                    </div>
                  </div>

                              <div class="row">
                                    <div class="mb-3 mt-3">
                        
                                        <div class="image-generator-container">

                                              <div class="image-upload">
                                                  <input type="file" name="imageData" id="imageInput" (change)="handleImageChange($event)" required>
                                                  <label for="imageInput">
                                                    <i class="fa fa-camera"></i>
                                                      selectionner une image
                                                  </label>
                                               </div>

                                            <div class="preview" *ngIf="selectedImage">
                                              <img [src]="selectedImage" alt="image selected">
                                            </div>
                                              
                                        </div>

                                    </div>
                                </div>
                  <br>

        
                 
        
                <div class="col-md-6 text-center">
                    <button type="button" class="btn btn-dark text-light btn-sm" (click)="clearForm(infoForm)">Annuler</button>
                    &nbsp;&nbsp;          
                    <button type="submit"  class="btn btn-dark btn-sm text-light" >Ajouter</button>
                  </div> 

              </form>
              
            
      </div>

      <div *ngIf="isCurrentPage('liste-eleves')">
        <div class="card">
          <div class="card-header bg-secondary text-white input-group   ">
            <h3 style="text-align: initial;">Liste des information</h3>
                    <!--
                      <div class="input-group col-md-2 justify-content-end " style="justify-content: end;">
                        <input class="form-control " type="date" name="search" >
                    </div>
                    -->
           
          </div>
         </div>
         
         <div class="card-body">
           <div class="row">
             <div class="col-md-12">
               
               <table class="table table-bordered">
                 <thead>
                   <tr>
                     <th>Title</th>
                     <th>content</th>
                     <th>Date</th>
                     <th>Action</th>
                   
                 </tr>
                 </thead>
                 <tbody>
                  <tr *ngFor="let item of informationList; let i = index">
                    <td *ngIf="editIndex !== i">{{ item.titreInfo }}</td>
                    <td *ngIf="editIndex === i">
                      <input [(ngModel)]="editedItem.titreInfo" />
                    </td>
                
                    <td *ngIf="editIndex !== i">{{ item.corpsInfo }}</td>
                    <td *ngIf="editIndex === i">
                      <input [(ngModel)]="editedItem.corpsInfo" />
                    </td>
                
                    <td>{{ item.date | date:'dd/MM/yyyy' }}</td>
                
                    <td class="text-center">
                      <button *ngIf="editIndex !== i" type="button" class="btn btn-dark btn-sm text-light" (click)="onEdit(i, item)">
                        <span class="fa fa-edit mr-1"></span>
                      </button>
                      <button *ngIf="editIndex === i" type="button" class="btn btn-dark btn-sm text-light" (click)="onSave(item)">
                        <span class="fa fa-save mr-1"></span>
                      </button>
                      &nbsp;
                      <button type="button" class="btn btn-danger btn-sm text-light" (click)="onDelete(item.idInformation)">
                        <span class="fa fa-trash mr-1"></span>
                      </button>
                    </td>
                  </tr>
                </tbody>
               </table>
             </div>
           </div>
         </div>
      </div>

      <div *ngIf="isCurrentPage('services')">
        <h2 class="mb-4">Services</h2>
        <p>Contenu de la page des services...</p>
      </div>
     
      
        
      </div>
    </div>
</main>


