<app-navbar></app-navbar>
<main data-bs-spy="scroll" data-bs-target=".wrapper" data-bs-offset="100"  class="main">


  	<br><br><br>              <!--BODY-->
  <!--sidebar-->
  <div  class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="bg-light" [ngClass]="{'hidden': isSidebarHidden}">
      <div class="custom-menu">
       <!--
        <button type="button" id="sidebarCollapse"  class="btn btn-primary" (click)="toggleSideBar()" style="position: fixed;"> 
         
        </button>
       --> 
      </div>
      <div class="img bg-wrap text-center py-4" >
        <form class="d-flex" style="margin-left: 20px;">
          <input class="form-control me-2" type="text" placeholder="Search" (input)="onSearch($event)">
          <button class="btn btn-secondary me-5" type="button" (click)="onSearchClick()">Search</button>
        </form>
      </div><br>
      <h3 style="text-align: center;">All Information</h3>
        <hr>
      <div *ngFor="let item of informationList" class="flex-grow-1 overflow-y-auto" >
        
        <ul class="list-unstyled components mb-2 text-dark" style="justify-content: center; " >
          <button type="button" class="btn btn-light">
            <a  (click)="onInformationCLick(item)" class="text-dark">{{item.titreInfo}}..{{item.date | date:'dd/MM/yyyy'}}</a>
          </button>
         
        </ul>
      </div>

    </nav>

      <!-- Page Content  -->
    
<div id="content" class="p-4 p-md-1 pt-5">

 <section class="text-light text-center">
  <div  class="font">
    <br><br><br>  
  </div>
 </section>


<hr class="bg-dark">
<br><br><br>
<div>
  <h2>Notre derniere Information</h2>
</div>
<div  class="card mt-3">
<div class="card-header">
 <h2 class="text-center">{{titreInfo}}</h2>
 <p>{{corpsInfo}}</p>
</div>
<div class="card-body">
<img src="{{image5}}" class="card-img-top">
</div>
</div>



<div class="container-fluid mt-3">
  <h2>Toutes Nos Evenement</h2>
</div>


<div class="p-4 p-md-4 pt-5">
<div class="row row-cols-2 row-cols-xxl g-4">
  <div class="col col-lg-4 col-md-10 "*ngFor="let item of informationList">
    <div class="card">
      <img src="{{image5}}" class="card-img-top"/>
      <div class="card-body">
        <h5 class="card-title">{{item.titreInfo}}</h5>
        <p class="card-text">
          {{item.corpsInfo}}
        </p>
      </div>
    </div>
  </div>
</div>
</div>
                
<app-footer></app-footer>
</div>



 </div>
</main>






