
<main data-bs-spy="scroll" data-bs-target=".wrapper" data-bs-offset="100"  class="main">


  	              <!--BODY-->
  <!--sidebar-->
  <div  class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="bg-light" [ngClass]="{'hidden': isSidebarHidden}">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse"  class="btn btn-primary" (click)="toggleSideBar()" style="position: fixed;"> 
         
        </button>
      </div>
      <div class="img bg-wrap text-center py-4" >
        <form class="d-flex" style="margin-left: 20px;">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-secondary me-5" type="button">Search</button>
        </form>
      </div>
      <div *ngFor="let item of informationList" >
        <ul class="list-unstyled components mb-2 text-dark" style="justify-content: center; " >
          <a class="text-dark">{{item.titreInfo}}..{{item.date | date:'dd/MM/yyyy'}}</a>
        </ul>
      </div>

    </nav>

      <!-- Page Content  -->
    
<div id="content" class="p-4 p-md-1 pt-5">

 <section class="text-light text-center">
  <div  class="font">
    <h1 ><span class="badge bg-secondary ">WELCOME TO CENTRE VALBIO</span></h1>
    <br><br><br>  
  </div>
 </section><br><br><br>


 <div class="container-fluid mt-3 text-center">
  <h1>Nos Evenement recentes</h1  >
  <p>The following example shows how to create a basic carousel with indicators and controls.</p>
</div>



  <!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel" >

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>
  
  <!-- The slideshow/carousel -->
  <div class="carousel-inner" id="carousel">
    <div  class="carousel-item active" id="carousel"  >
      <img src="{{ image5 }}" class="img-fluid" style="width:100%">
    </div>
    <div  class="carousel-item" id="carousel" >
      <img src="{{ image3 }}"  class="img-fluid" style="width:100%">
    </div>
    <div  class="carousel-item" id="carousel" >
      <img src="{{ image4 }}" class="img-fluid" style="width:100%">
    </div>
  </div>
  
  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<div class="container-fluid mt-3">
  <h3>Toutes Nos Evenement</h3>
  <p>The following example shows how to create a basic carousel with indicators and controls.</p>
</div>


<div class="p-4 p-md-4 pt-5">
<div class="row row-cols-2 row-cols-xxl g-4">
  <div class="col col-lg-4 col-md-10 "*ngFor="let item of informationList">
    <div class="card">
      <img [src]="item.imageData" class="card-img-top"/>
      <div class="card-body">
        <h5 class="card-title">{{item.titreInfo}}</h5>
        <p class="card-text">
          {{item.corpsInfo}}
        </p>
      </div>
    </div>
  </div>
</div>
</div>
                

</div>



 </div>
</main>






